@model Dollar.Models.reportes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>reportes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cliente.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicios1.tipo_servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicios1.tipo_servicio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_reporte }) |
    @Html.ActionLink("Back to List", "Index")
</p>
